/* Start Variables */
:root {
    --main_color: #19c8fa;
    --transparent_color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End Variables */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h3 {
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .our-skills .testimonials .content {
        text-align: center;
        flex-direction: column;
    }
    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}
.our-skills .testimonials .text {
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
    background-color: var(--main_color);
    border-color: var(--main_color);
}
.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main_color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}
