*{
    padding: 0;
  margin : 0;
    box-sizing: border-box;
}
div.Elhariry{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 300px;
    letter-spacing: -40px;
}
.e,.l{
    position: relative;
}
.e::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 59px;
    right: -15px;
    background-color: rgb(210, 153, 30);
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: dalia1;
}
.l::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 66px;
    right: -25px;
    background-color: black;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-name: dalia2; 
}
@keyframes dalia1 {
    11%{
        top: 59px;
        right: 115px;
    }
    22%{
        top: 150px;
        right: 115px;
    }
    33%{
        top: 150px;
        right: -15px;
    }
    44%{
        top: 150px;
        right: 115px;
    }
    55%{
        top: 250px;
        right: 115px;
    }
    66%{
        top: 250px;
        right: -15px;
    }
    77%{
        top: 250px;
        right: 115px;
    }
    88%{
        top: 59px;
        right: 115px;
    }
    100%{
        top: 59px;
        right: -15px;
    }
}
@keyframes dalia2 {
    25%{
        background-color: rgb(210, 153, 30);
    }
    50%{
        bottom: 66px;
        right: 80px;
    }
    75%{
        bottom: 250px;
        right: 80px;
        background-color: rgb(210, 153, 30);
    }
    100%{
        background-color: black;        
        bottom: 250px;
        right: 80px;
    }
}

body {
    background-color: rgb(197, 168, 117);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input {
    padding: 20px;
    width: 300px;
    margin: 10% auto;
    position: relative;

}

.input h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.input input {
    display: block;
    padding: 10px;
    margin: 15px auto;
    border-style: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.input::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 111, 111);
    background-color: rgba(112, 111, 111, .4);
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: blur(8px);
}

#me {
    display: inline;
    margin-left: 10px;
    text-decoration: underline;
}


.input .log {
    border-style: none;
    width: 170px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#create {
    text-align: center;
    text-decoration: underline;
}

 /* start pricing */
.container{
    padding-left: 15px;
        padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   
}
.special-header{
    text-align: center;
    
}
.special-header h2{
    font-weight: normal;
        font-size: 40px;
        margin-bottom: 30px;
        position: relative;
}

.special-header p{
    line-height: 2;
     width: 550px; 
    max-width: 100%;
        margin: 20px auto 100px;
        color: var(--txt-color);
}
.line {
height: 20px;
    width: 20px;
    position: relative;
    /* top: 90%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 50%;
}

.line::after {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid black;
    top: 50%;
    transform: translatey(-50%);
    left: 100%;

}

.line::before {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid black;
    top: 50%;
    transform: translatey(-50%);
    right: 100%;

}
/* end special header */
.pricing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 30px ;
    position: relative;
}
.pricing-container .pri-cont{
   
    text-align: center;
    background-color: #fcfcfc;
}

.pricing-container .pri-cont .head{
    padding: 30px;
     border-top: 1px solid var(--main-color);
    border-bottom:1px solid var(--main-color) ;
}

.pricing-container .pri-cont h3{
      font-weight: normal;
      margin-bottom: 20px;
}

.pricing-container .pri-cont span{

         font-size: 60px;
         font-weight: bold;
         
}

.pricing-container span::before{
     content: "$";
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
    font-size: 25px;
}

.pricing-container span::after{
    content: "/Mo";
      font-size: 20px;
      position: relative;
    right: -15px;
}

.pricing-container .pri-cont li{
    position: relative;
    padding: 20px;
}

.pricing-container .pri-cont li:not(:last-child)::after{
    width: 140px;
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--main-color);
    bottom: 0%;
    left: 25%;
}
.pricing-container .pri-cont .foot a{
background-color: #fcfcfc;
    /* text-align: center; */
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    color: #551a9a;
    border: 1px solid var(--main-color);
}

.pricing-container .pri-cont .foot{
    padding: 40px;
    position: relative;
}

.pricing-container .pri-cont .foot a::after{
    width: 100%;
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--main-color);
   bottom: 100%;
    left: 0%;
}

.pricing .cont-text{
   text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pricing  a.link{
 display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
   
}
/* end pricing */

/* Start Acheivements */
.Roaa .acheivements{
    padding: 40px;
    background-image: url(../images/acheivements.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 40px 40px 25px;
    }
    .Roaa .acheivements h2{
    padding: 20px;
    color: white;
    position: relative;
    font-size: 40px;
    border-bottom: 5px solid white;
    display: inline-block;
    margin-bottom: 60px;
    }
    .Roaa .acheivements::before{
    content: '';
    background-color: #c5a8758c;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
    .Roaa .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
      }
    .Roaa .images .box{
    flex-basis: 28%;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
    border: 4px solid #c3a776cc;
    margin-bottom: 20px;
    }
    .Roaa .box img{
    width: 100%;
    height: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    }
    .Roaa .text{
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background-color: #f7e8d1;
    font-size: 16px;
    }
    .Roaa .text .first{
    color: brown;
    margin-bottom: 10px;
    font-weight: bold;
    }
    .Roaa .images .box:hover img{
    transform: rotate(2deg) scale(1.1) ;
    -webkit-transform: rotate(2deg) scale(1.1) ;
    -moz-transform: rotate(2deg) scale(1.1) ;
    -ms-transform: rotate(2deg) scale(1.1) ;
    -o-transform: rotate(2deg) scale(1.1) ;
    }
    .Roaa .images .box:hover .text{
    bottom: 0;
    }
    .Roaa .last{
    text-align: left;
    position: relative;
    color: #634c1b;
    font-size: 34px;
    font-weight: bold;
    }
    @media(max-width: 767px){
    .Roaa .images {
        flex-direction: column;
        align-content: center;
    }
    .Roaa .acheivements h2 {
        font-size: 31px;
    }
    .Roaa .images .box{
        min-width: 70%;
        border: none;
    }
    .Roaa .text {
        height: 70px;
        padding: 10px
    }
    .Roaa .last{
        font-size: 25px;
        color: white;
        }
    }
    /* End Acheivements */
